  
<mat-toolbar color="primary">
  <button mat-button (click)="sidenav.open()"><mat-icon>List</mat-icon></button>
  <span>News Headline</span>
  <span class="example-spacer"></span>
  <button mat-button [matMenuTriggerFor]="appMenu"><mat-icon>settings</mat-icon></button>
</mat-toolbar>
<mat-menu #appMenu="matMenu">
  <button mat-menu-item> Settings </button>
  <button mat-menu-item> Help </button>
</mat-menu>
<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav class="example-sidenav">
    <mat-list class="list-nav">
      <mat-list-item *ngFor="let source of mSources" (click)="searchArticles(source.id); sidenav.close();">
        <div mat-card-avatar [ngStyle]="{'background-image': 'url(../assets/images/' + source.id + '.png)'}"
             class="example-header-image"></div>
        <span class="source-name">{{ source.name }}</span>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-card class="example-card" *ngFor="let article of mArticles">
    <mat-card-header>
      <div mat-card-avatar [ngStyle]="{'background': 'url(../assets/images/' + article.source.id + '.png)'}"
           class="example-header-image"></div>
      <mat-card-title>{{ article.title }}</mat-card-title>
      <mat-card-subtitle>{{ article.source.name }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image class="img-article" src="{{ article.urlToImage }}" alt="">
    <mat-card-content>
      <p>
        {{ article.description }}
      </p>
    </mat-card-content>
  </mat-card>
</mat-sidenav-container>

